<% if task.errors.any? %>
  <ul>
  <% task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(task) do |f| %>
  <fieldset>
    <legend><%= task_name %></legend>
    <div class="mb-3">
      <%= f.label :name, class:"form-label" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :content, class:"form-label" %>
      <%= f.text_area :content, class:"form-control"%>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
