<%= link_to "新增任務", new_task_path %>
<div class="container mt-3">
  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-4">
        <div class="card-group mt-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">任務名稱: <%= link_to task.name, task_path(task) %></h5>
                <p class="card-text">內容: <%= task.content %></p>
                <div class="d-flex justify-content-between">
                  <%= link_to "刪除", task_path(task), method: 'delete', class: "btn btn-danger"%>
                  <%= link_to "編輯", edit_task_path(task), class: "btn btn-primary"%>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>