<div class="container mt-3">
  <div class="row">
    <% @tasks.each do |task| %>
      <% if current_user.id == task.user_id %>
        <div class="col-4">
          <div class="card-group mt-2">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">名稱: <%= link_to task.name, task_path(task) %></h5>
                    <p class="card-text">敘述: <%= task.content %></p>
                    <p class="card-text">結束時間: <%= task.end_time %></p>
                    <p class="card-text">執行狀態: <%= task.state %></p> 
                    <p class="card-text">優先權: <%= task.priority %></p> 
                    <div class="d-flex justify-content-between">
                      <%= link_to "刪除", task_path(task), method: 'delete', class: "btn btn-danger"%>
                      <%= link_to "編輯", edit_task_path(task), class: "btn btn-primary"%>
                    </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

