<div class="container mt-3">
  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <%= form_for(@user, url: '/sign_in/check') do |f| %>
  <fieldset>
    <legend class="text-center">會員登入</legend>
    <div class="mb-3">
      <%= f.label :email, '信箱' , class:"form-label" %>
      <%= f.email_field :email, class:"form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, '密碼', class:"form-label" %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <div>
      <%= f.submit '登入' %>
    </div>
  </fieldset>
  <% end %>
</div>

