<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Navbar", tasks_path, class:"navbar-brand" %>
    <%= search_form_for @q, class:"d-flex" do |f| %>
      <%= f.search_field :name_cont, class:"form-control me-2", placeholder:"輸入任務名稱" %>
      <%= f.submit "Search",class:"btn btn-outline-success"  %>
    <% end %>
    <div class="d-flex justify-content-end">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            會員
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            未完成
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            語系
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %></li>
            <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>